workflows/project_sage_n8n_workflow.json
{
  "name": "Project Sage - Smart Intake & Summarization",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "folderId": "",
        "options": {},
        "watchFor": "fileCreated"
      },
      "id": "1",
      "name": "Watch PDF Upload",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"mimeType\"]}}",
              "operation": "equal",
              "value2": "application/pdf"
            }
          ]
        }
      },
      "id": "2",
      "name": "Check If PDF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "fileId": "={{$json[\"id\"]}}"
      },
      "id": "3",
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "item.text = $json[\"text\"] || \"Sample extracted content\";\nreturn item;"
      },
      "id": "4",
      "name": "Extract Text (Mock)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": [
          {
            "role": "system",
            "content": "You are an assistant summarizing legal/business documents. Provide:\n1. A plain-English summary\n2. Key parties\n3. Dates or deadlines\n4. Red flags or missing info"
          },
          {
            "role": "user",
            "content": "Document Content:\n{{$json[\"text\"]}}"
          }
        ]
      },
      "id": "5",
      "name": "Summarize with GPT-4o",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "channelId": "",
        "message": "**Document Summary:**\n{{$json[\"summary\"]}}\n\n_File:_ {{$json[\"fileName\"]}}\n_Timestamp:_ {{$json[\"timestamp\"]}}"
      },
      "id": "6",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Watch PDF Upload": {
      "main": [
        [
          {
            "node": "Check If PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If PDF": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract Text (Mock)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text (Mock)": {
      "main": [
        [
          {
            "node": "Summarize with GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with GPT-4o": {
      "main": [
        [
          {
            "node": "Post to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}